.fav {
    margin: $gap-md auto;
    
    &__container {
        display: flex;
        flex-wrap: wrap;

        &__pokemon {
            text-align: center;
            margin: 0 $gap-sm;

            img {
                width: 80px;
            }

            small {
                font-family: 'Pokemonsolid';
                color: $yellow-secondary;
                text-transform: capitalize;
            }
        }
    }
}