.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: $gap-md;
    margin: $gap-lg auto;
}

.card {
    height: 140px; 
    flex-direction: row;
    align-items: center;
    padding: $gap-xs $gap-sm;
    background-image: url(../assets/images/watermark-pokeball.svg);
    background-repeat: no-repeat;
    background-position: center right;

    &.grass {
        background-color: #8bbe8a;
    }
    
    &.normal {
        background-color: #b5b9c4;
    }
    
    &.fire {
        background-color: #ffa756;
    }
    
    &.water {
        background-color: #58abf6;
    }
    
    &.electric {
        background-color: #f2cb55;
    }
    
    &.ice {
        background-color: #91d8df;
    }
    
    &.fighting {
        background-color: #f56767;
    }
    
    &.poison {
        background-color: #9f6e97;
    }
    
    &.ground {
        background-color: #f78551;
    }
    
    &.flying {
        background-color: #eba8c3;
    }
    
    &.psychic {
        background-color: #ff6568;
    }
    
    &.bug {
        background-color: #8bd674;
    }
    
    &.rock {
        background-color: #6f6e78;
    }
    
    &.ghost {
        background-color: #8571be;
    }
    
    &.dragon {
        background-color: #7383b9;
    }
    
    &.dark {
        background-color: $dark;
    }
    
    &.steel {
        background-color: $steel;
    }
    
    &.fairy {
        background-color: $fairy;
    }

    &__info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: $white;

        &__id {
            color: #00000080;
            font-weight: bold;
        }

        &__name {
            text-transform: capitalize;
        }

        &__types {
            display: flex;
            padding-top: $gap-sm;

            &__type {
                margin-right: $gap-sm;
                padding: 0.5rem;
                border-radius: 5px;
                text-transform: capitalize;
                box-shadow: rgb(0 0 0 / 10%) 2px 2px 3px 0px;
                min-width: fit-content;

                &.grass {
                    background-color: $grass;
                }
                
                &.normal {
                    background-color: $normal;
                }
                
                &.fire {
                    background-color: $fire;
                }
                
                &.water {
                    background-color: $water;
                }
                
                &.electric {
                    background-color: $electric;
                }
                
                &.ice {
                    background-color: $ice;
                }
                
                &.lighting {
                    background-color: $fighting;
                }
                
                &.poison {
                    background-color: $poison;
                }
                
                &.ground {
                    background-color: $ground;
                }
                
                &.flying {
                    background-color: $flying;
                }
                
                &.psychic {
                    background-color: $psychic;
                }
                
                &.bug {
                    background-color: $bug;
                }
                
                &.rock {
                    background-color: $rock;
                }
                
                &.ghost {
                    background-color: $ghost;
                }
                
                &.dragon {
                    background-color: $dragon;
                }
                
                &.dark {
                    background-color: $dark;
                }
                
                &.steel {
                    background-color: $steel;
                }
                
                &.fairy {
                    background-color: $fairy;
                }
            }
        }
    }

    &__sprite {
        display: flex;
        justify-content: center;
    }
}
