.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: $gap-md;
    margin: $gap-lg auto;
}

.card {
    height: 140px; 
    flex-direction: row;
    align-items: center;
    padding: $gap-xs $gap-sm;
    background-image: url(../assets/images/watermark-pokeball.svg);
    background-repeat: no-repeat;
    background-position: center right;
    @include pokemonType;

    &__info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: $white;

        .btn-stripped {
            &:hover:enabled {
                transform: scale(1.1);
            }  
            
            &:disabled {
                opacity: 0.5;
            }
        }

        &__id {
            color: #00000080;
            font-weight: bold;
        }
        
        &__fav {
            width: 25px;
            margin-left: $gap-xs;       
        }

        &__name {
            text-transform: capitalize;
        }

        &__types {
            display: flex;
            padding-top: $gap-sm;

            &__type {
                margin-right: $gap-sm;
                padding: 0.5rem;
                border-radius: 5px;
                text-transform: capitalize;
                box-shadow: rgb(0 0 0 / 10%) 2px 2px 3px 0px;
                min-width: fit-content;

                &.grass {
                    background-color: $grass;
                }
                
                &.normal {
                    background-color: $normal;
                }
                
                &.fire {
                    background-color: $fire;
                }
                
                &.water {
                    background-color: $water;
                }
                
                &.electric {
                    background-color: $electric;
                }
                
                &.ice {
                    background-color: $ice;
                }
                
                &.lighting {
                    background-color: $fighting;
                }
                
                &.poison {
                    background-color: $poison;
                }
                
                &.ground {
                    background-color: $ground;
                }
                
                &.flying {
                    background-color: $flying;
                }
                
                &.psychic {
                    background-color: $psychic;
                }
                
                &.bug {
                    background-color: $bug;
                }
                
                &.rock {
                    background-color: $rock;
                }
                
                &.ghost {
                    background-color: $ghost;
                }
                
                &.dragon {
                    background-color: $dragon;
                }
                
                &.dark {
                    background-color: $dark;
                }
                
                &.steel {
                    background-color: $steel;
                }
                
                &.fairy {
                    background-color: $fairy;
                }
            }
        }
    }

    &__sprite {
        display: flex;
        justify-content: center;
    }
}
