.modal-background {
    z-index: 100;
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;

    .column-1, .column-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: $gap-sm;
    }

    .column-1 {
        border-radius: 5px 5px 0 0;
        @include pokemonType;
    }    
}