/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
main {
  position: relative;
}

@font-face {
  font-family: "PokemonHollow";
  src: url("../fonts/Pokemon_Hollow.ttf");
}
@font-face {
  font-family: "PokemonSolid";
  src: url("../fonts/Pokemon_Solid.ttf");
}
h1 {
  font-family: "PokemonSolid", sans-serif;
  color: #B3A125;
  letter-spacing: 2px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin: 3rem auto;
}

.card {
  height: 140px;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1rem;
  background-image: url(../assets/images/watermark-pokeball.svg);
  background-repeat: no-repeat;
  background-position: center right;
}
.card.grass {
  background-color: #8bbe8a;
}
.card.normal {
  background-color: #b5b9c4;
}
.card.fire {
  background-color: #ffa756;
}
.card.water {
  background-color: #58abf6;
}
.card.electric {
  background-color: #f2cb55;
}
.card.ice {
  background-color: #91d8df;
}
.card.fighting {
  background-color: #f56767;
}
.card.poison {
  background-color: #9f6e97;
}
.card.ground {
  background-color: #f78551;
}
.card.flying {
  background-color: #eba8c3;
}
.card.psychic {
  background-color: #ff6568;
}
.card.bug {
  background-color: #8bd674;
}
.card.rock {
  background-color: #6f6e78;
}
.card.ghost {
  background-color: #8571be;
}
.card.dragon {
  background-color: #7383b9;
}
.card.dark {
  background-color: #806d61;
}
.card.steel {
  background-color: #a1a1a5;
}
.card.fairy {
  background-color: #d6a1bb;
}
.card__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #ffffff;
}
.card__info__id {
  color: rgba(0, 0, 0, 0.5019607843);
  font-weight: bold;
}
.card__info__name {
  text-transform: capitalize;
}
.card__info__types {
  display: flex;
  padding-top: 1rem;
}
.card__info__types__type {
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  text-transform: capitalize;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 3px 0px;
  min-width: fit-content;
}
.card__info__types__type.grass {
  background-color: #7AC74C;
}
.card__info__types__type.normal {
  background-color: #A8A77A;
}
.card__info__types__type.fire {
  background-color: #EE8130;
}
.card__info__types__type.water {
  background-color: #6390F0;
}
.card__info__types__type.electric {
  background-color: #F7D02C;
}
.card__info__types__type.ice {
  background-color: #96D9D6;
}
.card__info__types__type.lighting {
  background-color: #C22E28;
}
.card__info__types__type.poison {
  background-color: #A33EA1;
}
.card__info__types__type.ground {
  background-color: #E2BF65;
}
.card__info__types__type.flying {
  background-color: #A98FF3;
}
.card__info__types__type.psychic {
  background-color: #F95587;
}
.card__info__types__type.bug {
  background-color: #A6B91A;
}
.card__info__types__type.rock {
  background-color: #B6A136;
}
.card__info__types__type.ghost {
  background-color: #735797;
}
.card__info__types__type.dragon {
  background-color: #6F35FC;
}
.card__info__types__type.dark {
  background-color: #705746;
}
.card__info__types__type.steel {
  background-color: #B7B7CE;
}
.card__info__types__type.fairy {
  background-color: #D685AD;
}
.card__sprite {
  display: flex;
  justify-content: center;
}

.search {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}
.search__container {
  display: flex;
  justify-content: space-between;
}
.search__input {
  background-color: rgb(235, 235, 235);
  border: 1px solid gray;
  border-radius: 5px;
  width: 70%;
  margin-right: 0.5rem;
  padding-left: 0.5rem;
}
.search__input:focus-visible {
  border: 2px solid #B3A125;
  outline: none;
}
.search__button {
  width: 150px;
  border-radius: 5px;
  height: 35px;
  border: 1px solid gray;
}
.search__button:hover:enabled {
  border: 2px solid #B3A125;
}

.modal-background {
  z-index: 100;
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .column-1, .modal .column-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}
.modal .column-1 {
  border-radius: 5px 5px 0 0;
}
.modal .column-1.grass {
  background-color: #8bbe8a;
}
.modal .column-1.normal {
  background-color: #b5b9c4;
}
.modal .column-1.fire {
  background-color: #ffa756;
}
.modal .column-1.water {
  background-color: #58abf6;
}
.modal .column-1.electric {
  background-color: #f2cb55;
}
.modal .column-1.ice {
  background-color: #91d8df;
}
.modal .column-1.fighting {
  background-color: #f56767;
}
.modal .column-1.poison {
  background-color: #9f6e97;
}
.modal .column-1.ground {
  background-color: #f78551;
}
.modal .column-1.flying {
  background-color: #eba8c3;
}
.modal .column-1.psychic {
  background-color: #ff6568;
}
.modal .column-1.bug {
  background-color: #8bd674;
}
.modal .column-1.rock {
  background-color: #6f6e78;
}
.modal .column-1.ghost {
  background-color: #8571be;
}
.modal .column-1.dragon {
  background-color: #7383b9;
}
.modal .column-1.dark {
  background-color: #806d61;
}
.modal .column-1.steel {
  background-color: #a1a1a5;
}
.modal .column-1.fairy {
  background-color: #d6a1bb;
}
.modal__content {
  position: relative;
  z-index: 150;
  background-color: #ffffff;
  opacity: none;
  border-radius: 5px;
}
.modal__content__name {
  text-transform: capitalize;
  color: #ffffff;
}
.modal__content__sprite {
  min-width: 100px;
}
.modal__content__stats__title {
  font-weight: bold;
}
.modal__content__stats__container {
  display: flex;
}
.modal__content__stats__container__stat {
  text-transform: capitalize;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem auto;
}
.pagination button {
  padding: 0.5rem;
  color: #CC0000;
  background-color: #ffffff;
  border: 2px solid #3B4CCA;
  border-radius: 5px;
  width: 125px;
}
.pagination button:hover:enabled {
  background-color: #3B4CCA;
  transform: scale(1.05);
  color: #FF0000;
}
.pagination button:disabled {
  opacity: 0.3;
}
